.commonIconClass {
    width: 1em;
    height: 1em;
    font-weight: bold;
}
.flex{
    display: flex;
}
.cursorPointer {
    cursor: pointer;
}

.iconMarginRight {
    margin-right: 1em;
}

.iconFontSize {
    font-size: 14px;
}

.w200 {
    width: 200px !important;
}

.text-center {
    text-align: center;
}

/* tree border */
.tree-border {
    margin-top: 5px;
    border: 1px solid #e5e6e7;
    background: #FFFFFF none;
    border-radius: 4px;
}

.tagsViews {
    margin-right: 5px;
    cursor: pointer;
}

.list-group-striped>.list-group-item {
    border-left: 0;
    border-right: 0;
    border-radius: 0;
    padding-left: 0;
    padding-right: 0;
}

.list-group {
    padding-left: 0px;
    list-style: none;
    margin-top: 1em;
}

.list-group-item {
    border-bottom: 1px solid #e7eaec;
    border-top: 1px solid #e7eaec;
    margin-bottom: -1px;
    padding: 11px 0px;
    font-size: 12px;
}

.list-group-item-title {
    font-weight: bold;
}

.box-card {
    margin-right: 20px;
}

.title {
    font-weight: bold;
}

.text-center {
    text-align: center
}

/* 头像 */
.img-circle {
    border-radius: 50%;
}

.img-lg {
    width: 120px;
    height: 120px;
}

.defaultTag {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    line-height: 1;
    height: 24px;
    white-space: nowrap;
    cursor: pointer;
    color: #606266;
    text-align: center;
    box-sizing: border-box;
    outline: none;
    transition: .1s;
    font-weight: 500;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    -webkit-appearance: none;
    background-color: #fff;
    border: 1px solid #dcdfe6;
    border-color: #dcdfe6;
    padding: 0 9px;
    font-size: 12px;
    border-radius: 4px;
}

video{
    width: 100%;
}