.el-card {
    margin-bottom: 20px;
}

.el-form-item__label {
    font-weight: bold;
}

.el-dialog__body {
    padding: 30px 20px;
}

.el-link {
    font-size: 12px !important;
    margin: 0 5px;
}

.el-form-item__content {
    overflow: hidden;
    word-break: break-all;
}